.products-section {
    padding: 80px 0 20px;
    background-color: map-get($map: $colors, $key: lightGgrey);

    .wrapper { width: 68%; }

    &__list{
        width: 100%;
        margin-bottom: 80px;
        @include flex(); 

        li {
          width: 32%;
          @include position($position:relative);

          &:not(:first-child) { margin-left: 2%; }

          figure { 
            width: 100%; 
            border-radius: 5px;
          img { @include image($width:100%,$objFit:cover); }
        }

        .products-container {
            padding: 20px 30px;
            @include position($position:absolute,$top:10%);

            .heading--products { 
                margin-bottom: 8px;
                @include fontSize($size: 22px,$weight:600 ); 
            }

            p { 
                line-height: 1.5;
                @include fontSize($size: 14px); 
            }
        }

        }
    }

    .button--shop {
        padding: 8px 25px;
        border-radius: 3px;
        border: 1px solid map-get($map: $colors, $key: greenColor);
        margin-top: 10px;
        color: map-get($map: $colors, $key: whiteColor);
        transition: .3s;

        &::after {
            content: map-get($map: $iconContent, $key: rightArrow);
            margin-left: 10px;
            font-family: "fontAwesome";
            @include fontSize($size: 14px); 
        }

        @include hover-effect($value:995px) {
            &:hover {
               background-color: transparent;
        color: map-get($map: $colors, $key: greenColor);
            }
        }
    }

    .offer {
        padding: 40px 0;
        margin-bottom: 20px;
        @include flex(); 
        @include align($align:center);
        background-color: map-get($map: $colors, $key: medGrey);

        .heading--offer { color: map-get($map: $colors, $key: whiteColor); }

        .offer-button {
            text-align: end;
            @include basis($flexBasis:30%);

            .button--offer {
                padding: 8px 25px;
                border-radius: 3px;
                border: 1px solid map-get($map: $colors, $key: greenColor);
                color: map-get($map: $colors, $key: whiteColor);
                transition: .3s;

                &::before {
                    content: map-get($map: $iconContent, $key: shop);
                    margin-right: 10px;
                    font-family: "fontAwesome";
                  }

                  @include hover-effect($value:995px) {
                    &:hover {
                       background-color: transparent;
                color: map-get($map: $colors, $key: greenColor);
                    }
                }
            }
        }
    }

    p { 
        @include fontSize($size: 20px,$weight:600);
        text-align: center; 
    }
}